force-app/main/default/flows/case_closed_feedback_flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>email_alert</name>
        <label>email alert</label>
        <locationX>769</locationX>
        <locationY>298</locationY>
        <actionName>Case.share_your_feedback</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Decision2</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>get_Id.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <decisions>
        <name>decision1</name>
        <label>decision1</label>
        <locationX>779</locationX>
        <locationY>116</locationY>
        <defaultConnector>
            <targetReference>screen2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>status not closed</defaultConnectorLabel>
        <rules>
            <name>status_check_closed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_Id.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>email_alert</targetReference>
            </connector>
            <label>status check closed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision2</name>
        <label>Decision2</label>
        <locationX>715</locationX>
        <locationY>442</locationY>
        <defaultConnector>
            <targetReference>screen3</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Rating is filled</defaultConnectorLabel>
        <rules>
            <name>Rating_is_not_filled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_Id.Rating__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>screen1</targetReference>
            </connector>
            <label>Rating is not filled</label>
        </rules>
    </decisions>
    <interviewLabel>case closed feedback flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>case closed feedback flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>create_feedback</name>
        <label>create feedback</label>
        <locationX>747</locationX>
        <locationY>565</locationY>
        <connector>
            <targetReference>update_rec</targetReference>
        </connector>
        <inputAssignments>
            <field>Case_ID__c</field>
            <value>
                <elementReference>get_Id.CaseNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>full_name.firstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Rating__c</field>
            <value>
                <elementReference>Rating.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Response__c</field>
            <value>
                <elementReference>response</elementReference>
            </value>
        </inputAssignments>
        <object>Case_Feedback__c</object>
    </recordCreates>
    <recordLookups>
        <name>get_Id</name>
        <label>get Id</label>
        <locationX>536</locationX>
        <locationY>191</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>decision1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>case_object_rating_update</name>
        <label>case object rating update</label>
        <locationX>899</locationX>
        <locationY>567</locationY>
        <connector>
            <targetReference>create_feedback</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Rating__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Rating__c</field>
            <value>
                <elementReference>Rating.value</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>update_rec</name>
        <label>update rec</label>
        <locationX>593</locationX>
        <locationY>565</locationY>
        <connector>
            <targetReference>screen3</targetReference>
        </connector>
        <inputReference>get_Id</inputReference>
    </recordUpdates>
    <screens>
        <name>screen1</name>
        <label>screen1</label>
        <locationX>928</locationX>
        <locationY>402</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>case_object_rating_update</targetReference>
        </connector>
        <fields>
            <name>full_name</name>
            <extensionName>flowruntime:name</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>response</name>
            <dataType>String</dataType>
            <fieldText>Response</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Rating</name>
            <extensionName>flowruntime:slider</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>max</name>
                <value>
                    <numberValue>5.0</numberValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>screen2</name>
        <label>screen2</label>
        <locationX>975</locationX>
        <locationY>193</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>msg1</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;The case needs to close for the feedback score&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>screen3</name>
        <label>screen3</label>
        <locationX>511</locationX>
        <locationY>368</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>msg2</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;The case needs to close for the feedback score.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>410</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>get_Id</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
