force-app/main/default/flows/New_Contact.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Feedback_share</name>
        <label>Feedback share</label>
        <locationX>589</locationX>
        <locationY>315</locationY>
        <actionName>Case.Feedback_Share</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Check_Rating</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Record_Getted.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <decisions>
        <name>Check_Rating</name>
        <label>Check Rating</label>
        <locationX>1072</locationX>
        <locationY>159</locationY>
        <defaultConnector>
            <targetReference>Rating_filleds</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>rating filled</defaultConnectorLabel>
        <rules>
            <name>rating_is_NULL</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Record_Getted.Rating__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen_1</targetReference>
            </connector>
            <label>rating is NULL</label>
        </rules>
    </decisions>
    <decisions>
        <name>Status_Decision</name>
        <label>Status Decision</label>
        <locationX>297</locationX>
        <locationY>384</locationY>
        <defaultConnector>
            <targetReference>status_not_closed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Closed</defaultConnectorLabel>
        <rules>
            <name>Closed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Record_Getted.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Feedback_share</targetReference>
            </connector>
            <label>Closed</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>accounts</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>contact.AccountId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <interviewLabel>New Contact {!$Flow.CurrentDateTime}</interviewLabel>
    <label>New Contactt</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Feedback_Form</name>
        <label>Feedback Form</label>
        <locationX>1034</locationX>
        <locationY>605</locationY>
        <connector>
            <targetReference>Update_Record</targetReference>
        </connector>
        <inputAssignments>
            <field>CaseID__c</field>
            <value>
                <elementReference>Record_Getted.CaseNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Name.firstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Rating__c</field>
            <value>
                <elementReference>Give_Rating.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Response__c</field>
            <value>
                <elementReference>Response</elementReference>
            </value>
        </inputAssignments>
        <object>Feedback__c</object>
    </recordCreates>
    <recordLookups>
        <name>Record_Getted</name>
        <label>Record Getted</label>
        <locationX>314</locationX>
        <locationY>218</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Status_Decision</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>caseObj_rating_update</name>
        <label>caseObj rating update</label>
        <locationX>1165</locationX>
        <locationY>495</locationY>
        <connector>
            <targetReference>Feedback_Form</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Rating__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Rating__c</field>
            <value>
                <elementReference>Give_Rating.value</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Record</name>
        <label>Update Record</label>
        <locationX>907</locationX>
        <locationY>584</locationY>
        <connector>
            <targetReference>Rating_filleds</targetReference>
        </connector>
        <inputReference>Record_Getted</inputReference>
    </recordUpdates>
    <screens>
        <name>Rating_filleds</name>
        <label>Rating filleds</label>
        <locationX>928</locationX>
        <locationY>271</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Rating_Filled</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_1</name>
        <label>Screen 1</label>
        <locationX>1215</locationX>
        <locationY>293</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>caseObj_rating_update</targetReference>
        </connector>
        <fields>
            <name>Name</name>
            <extensionName>flowruntime:name</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldsToDisplayList</name>
                <value>
                    <stringValue>firstName</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Give_Rating</name>
            <extensionName>flowruntime:slider</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>max</name>
                <value>
                    <numberValue>5.0</numberValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Response</name>
            <dataType>String</dataType>
            <fieldText>Response</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>status_not_closed</name>
        <label>status not closed</label>
        <locationX>152</locationX>
        <locationY>502</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>not_closed</name>
            <fieldText>&lt;p&gt;not closed invalid&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>183</locationX>
        <locationY>70</locationY>
        <connector>
            <targetReference>Record_Getted</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>contact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>Rating</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>recordID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
